@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-center fs-1 font-main-color  fst-italic">Welcome to <span class="fw-bold">Scarpe & Co.</span></h1>
    <div class="container banner" style="margin-top: 100px; margin-bottom:100px">
        <div class="row">
            <div class="col-md-7 font-main-color d-flex flex-column justify-content-center">
                <h3 class="text-start">Scopri le nuove</h3>
                <h2 style="font-size:6rem;">Adidas Spezial</h2>
                <p>Scegli il tuo stile</p>
                <div class="shoes-carousel d-flex align-items-center justify-content-evenly">
                    <img src="~/assets/img/adidas_spezial_pink_carousel.webp" alt="Alternate Text" />
                    <img src="~/assets/img/adidas_spezial_beige_carousel.webp" alt="Alternate Text" />
                    <img src="~/assets/img/adidas_spezial_black_carousel.webp" alt="Alternate Text" />
                    <img src="~/assets/img/adidas_spezial_blue_carousel.webp" alt="Alternate Text" />
                    <img src="~/assets/img/adidas_spezial_grey_carousel.webp" alt="Alternate Text" />
                    <img src="~/assets/img/adidas_spezial_olive_carousel.webp" alt="Alternate Text" />
                    <img src="~/assets/img/adidas_spezial_skyblue_carousel.webp" alt="Alternate Text" />
                    <img src="~/assets/img/adidas_spezial_winered_carousel.webp" alt="Alternate Text" />
                </div>
            </div>
            <div class="col-md-5">
                <img src="~/assets/img/adidas_spezial_pink.webp" alt="Adidas Spezial Rosa" style="transform: rotate(-15deg); width:100%" />
            </div>
        </div>
    </div>
</div>
