@model List<Scarpa>
@{
    RepositoryObject._scarpe = new();
    Scarpa s1 = new Scarpa()
    {
        Id = new Guid (),
        NomeArticolo = "Adidas Handball Spezial",
        Prezzo = 89.00m,
        Descrizione = "Scarpa da ginnastica colore rosa",
        ImmagineDiCopertina = "https://assets.footlocker.com/is/image/FLDM/316706221104_02?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva = "https://assets.footlocker.com/is/image/FLDM/316706221104_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva2 = "https://assets.footlocker.com/is/image/FLDM/316706221104_07?fmt=webp-alpha&bfc=on&wid=500&hei=500"
    };
    RepositoryObject.SaveScarpa(s1);
    Scarpa s2 = new Scarpa()
    {

        Id = new Guid(),
        NomeArticolo = "Nike Air Force 1 Low",
        Prezzo = 109.00m,
        Descrizione = "Scarpa da ginnastica colore bianco",
        ImmagineDiCopertina = "https://assets.footlocker.com/is/image/FLDM/316705874804_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva = "https://assets.footlocker.com/is/image/FLDM/316475363004_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva2 = "https://assets.footlocker.com/is/image/FLDM/316475363004_07?fmt=webp-alpha&bfc=on&wid=500&hei=500"
    };
    RepositoryObject.SaveScarpa(s2);

    Scarpa s3 = new Scarpa()
    {

        Id = new Guid(),
        NomeArticolo = "New Balance 530",
        Prezzo = 99.00m,
        Descrizione = "Scarpa da ginnastica colore marrone",
        ImmagineDiCopertina = "https://assets.footlocker.com/is/image/FLDM/316705653604_02?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva = "https://assets.footlocker.com/is/image/FLDM/316705653604_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva2 = "https://assets.footlocker.com/is/image/FLDM/316705653604_07?fmt=webp-alpha&bfc=on&wid=500&hei=500"
    };
    RepositoryObject.SaveScarpa(s3);

    Scarpa s4 = new Scarpa()
    {

        Id = new Guid(),
        NomeArticolo = "Adidas Campus 00s",
        Prezzo = 119.00m,
        Descrizione = "Scarpa da ginnastica colore verde",
        ImmagineDiCopertina = "https://assets.footlocker.com/is/image/FLDM/314310885604_02?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva = "https://assets.footlocker.com/is/image/FLDM/314310885604_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva2 = "https://assets.footlocker.com/is/image/FLDM/314310885604_07?fmt=webp-alpha&bfc=on&wid=500&hei=500"
    };
    RepositoryObject.SaveScarpa(s4);

    Scarpa s5 = new Scarpa()
    {

        Id = new Guid(),
        NomeArticolo = "Puma Palermo",
        Prezzo = 99.00m,
        Descrizione = "Scarpa da ginnastica colore rosa",
        ImmagineDiCopertina = "https://assets.footlocker.com/is/image/FLDM/315349207902_02?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva = "https://assets.footlocker.com/is/image/FLDM/315349207902_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva2 = "https://assets.footlocker.com/is/image/FLDM/315349207902_07?fmt=webp-alpha&bfc=on&wid=500&hei=500"
    };
    RepositoryObject.SaveScarpa(s5);

    Scarpa s6 = new Scarpa()
    {

        Id = new Guid(),
        NomeArticolo = "Converse Lift Hi",
        Prezzo = 105.00m,
        Descrizione = "Scarpa da ginnastica colore beige",
        ImmagineDiCopertina = "https://assets.footlocker.com/is/image/FLDM/315550531602_02?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva = "https://assets.footlocker.com/is/image/FLDM/315550531602_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva2 = "https://assets.footlocker.com/is/image/FLDM/315550531602_07?fmt=webp-alpha&bfc=on&wid=500&hei=500"
    };
    RepositoryObject.SaveScarpa(s6);

    Scarpa s7 = new Scarpa()
    {

        Id = new Guid(),
        NomeArticolo = "Converse Pc2 Wntr",
        Prezzo = 100.00m,
        Descrizione = "Scarpa da ginnastica colore rosa",
        ImmagineDiCopertina = "https://assets.footlocker.com/is/image/FLDM/315550068902_02?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva = "https://assets.footlocker.com/is/image/FLDM/315550068902_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva2 = "https://assets.footlocker.com/is/image/FLDM/315550068902_07?fmt=webp-alpha&bfc=on&wid=500&hei=500"
    };
    RepositoryObject.SaveScarpa(s7);

    Scarpa s8 = new Scarpa()
    {

        Id = new Guid(),
        NomeArticolo = "Adidas Samba",
        Prezzo = 80.00m,
        Descrizione = "Scarpa da ginnastica colore rosa",
        ImmagineDiCopertina = "https://assets.footlocker.com/is/image/FLDM/315349565002_02?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva = "https://assets.footlocker.com/is/image/FLDM/315349565002_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva2 = "https://assets.footlocker.com/is/image/FLDM/315349565002_07?fmt=webp-alpha&bfc=on&wid=500&hei=500"
    };
    RepositoryObject.SaveScarpa(s8);

    Scarpa s9 = new Scarpa()
    {

        Id = new Guid(),
        NomeArticolo = "Puma Palermo",
        Prezzo = 99.00m,
        Descrizione = "Scarpa da ginnastica colore panna",
        ImmagineDiCopertina = "https://assets.footlocker.com/is/image/FLDM/315349208702_02?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva = "https://assets.footlocker.com/is/image/FLDM/315349208702_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva2 = "https://assets.footlocker.com/is/image/FLDM/315349208702_07?fmt=webp-alpha&bfc=on&wid=500&hei=500"
    };
    RepositoryObject.SaveScarpa(s9);

    

   
    

    List<Scarpa> scarpe = RepositoryObject.GetAll();

    if (scarpe.Count() == 0)
    {
        Console.WriteLine("Nessun articolo trovato");
    }
    else
    {

    }

}

<div class="container-fluid">
<div class="row justify-content-between">

    @foreach (var S in scarpe)
    {
        <div class="col-4">
        <div class="card my-2" style="width: 18rem; height: 450px;">
            <img src="@S.ImmagineDiCopertina" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@S.NomeArticolo</h5>
                <p class="card-text text-truncate">@S.Descrizione</p>
<a asp-controller="Dettaglio" asp-action="Dettaglio" asp-route-id="@S.Id" class="btn btn-primary">Dettagli</a>
            </div>
            </div>
        </div>
    }
    </div>
</div>
