@model List<Scarpa>
@{
   

    Scarpa s5 = new Scarpa()
    {

        Id = Guid.NewGuid(),
        NomeArticolo = "Puma Palermo",
        Prezzo = 99.00m,
        Descrizione = "Scarpa da ginnastica colore rosa",
        ImmagineDiCopertina = "https://assets.footlocker.com/is/image/FLDM/315349207902_02?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva = "https://assets.footlocker.com/is/image/FLDM/315349207902_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva2 = "https://assets.footlocker.com/is/image/FLDM/315349207902_07?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        Logo = "https://images.seeklogo.com/logo-png/28/2/puma-se-logo-png_seeklogo-287825.png"
    };
    RepositoryObject.SaveScarpa(s5);

    Scarpa s6 = new Scarpa()
    {

        Id = Guid.NewGuid(),
        NomeArticolo = "Converse Lift Hi",
        Prezzo = 105.00m,
        Descrizione = "Scarpa da ginnastica colore beige",
        ImmagineDiCopertina = "https://assets.footlocker.com/is/image/FLDM/315550531602_02?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva = "https://assets.footlocker.com/is/image/FLDM/315550531602_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva2 = "https://assets.footlocker.com/is/image/FLDM/315550531602_07?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        Logo = "https://logodix.com/logo/10350.png"
    };
    RepositoryObject.SaveScarpa(s6);

    Scarpa s7 = new Scarpa()
    {

        Id = Guid.NewGuid(),
        NomeArticolo = "Converse Pc2 Wntr",
        Prezzo = 100.00m,
        Descrizione = "Scarpa da ginnastica colore rosa",
        ImmagineDiCopertina = "https://assets.footlocker.com/is/image/FLDM/315550068902_02?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva = "https://assets.footlocker.com/is/image/FLDM/315550068902_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva2 = "https://assets.footlocker.com/is/image/FLDM/315550068902_07?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        Logo = "https://logodix.com/logo/10350.png"
    };
    RepositoryObject.SaveScarpa(s7);

    Scarpa s8 = new Scarpa()
    {

        Id = Guid.NewGuid(),
        NomeArticolo = "Adidas Samba",
        Prezzo = 80.00m,
        Descrizione = "Scarpa da ginnastica colore rosa",
        ImmagineDiCopertina = "https://assets.footlocker.com/is/image/FLDM/315349565002_02?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva = "https://assets.footlocker.com/is/image/FLDM/315349565002_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva2 = "https://assets.footlocker.com/is/image/FLDM/315349565002_07?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        Logo = "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Original_Adidas_logo.svg/768px-Original_Adidas_logo.svg.png"
    };
    RepositoryObject.SaveScarpa(s8);

    Scarpa s9 = new Scarpa()
    {

        Id = Guid.NewGuid(),
        NomeArticolo = "Puma Palermo",
        Prezzo = 99.00m,
        Descrizione = "Scarpa da ginnastica colore panna",
        ImmagineDiCopertina = "https://assets.footlocker.com/is/image/FLDM/315349208702_02?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva = "https://assets.footlocker.com/is/image/FLDM/315349208702_03?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        ImmagineAggiuntiva2 = "https://assets.footlocker.com/is/image/FLDM/315349208702_07?fmt=webp-alpha&bfc=on&wid=500&hei=500",
        Logo = "https://images.seeklogo.com/logo-png/28/2/puma-se-logo-png_seeklogo-287825.png"
    };
    RepositoryObject.SaveScarpa(s9);

    

   
    

    List<Scarpa> scarpe = RepositoryObject.GetAll();

    if (scarpe.Count() == 0)
    {
        Console.WriteLine("Nessun articolo trovato");
    }
    else
    {

    }

}

<div class="container">
<div class="row justify-content-center d-flex">

    @foreach (var S in scarpe)
    {
        <div class="col-4 text-center">
        <div class="card my-2" style="width: 18rem; height: 450px;">
            <img src="@S.ImmagineDiCopertina" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@S.NomeArticolo</h5>
                <p class="card-text text-truncate">@S.Descrizione</p>
<a asp-controller="Dettaglio" asp-action="Dettaglio" asp-route-id="@S.Id" class="btn btn-primary">Dettagli</a>
            </div>
            </div>
        </div>
    }
    </div>
</div>
