html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #f5d7e2;
    background: linear-gradient(35deg, rgba(245, 215, 226, 1) 0%, rgba(227, 221, 235, 1) 100%);
}
.nav-link {
    transition: all 0.3s ease-in-out;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.2rem;
}
.font-main-color {
    color: #7774b8 !important;
}
.nav-link:hover {
    transform: scale(1.15);
    color: #979dcf !important;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler-icon {
    filter: brightness(0) saturate(100%) invert(50%) sepia(16%) saturate(1125%) hue-rotate(208deg) brightness(90%) contrast(90%) !important;
}


.container.banner {
    background-color: #00000010;
    width: 100%;
    max-width:100%;
}

.container.main {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left:0;
}

.shoes-carousel img{
    width:80px;
    transition:all 0.3s ease-in-out;
    cursor:pointer;
}

.shoes-carousel img:hover{
    transform: scale(1.5);
}

